<div class="vmenu" id="nothingtodohere">
    <div class="first_li" data-value="refresh">
        <span>Recheck the directory</span>
    </div>
</div>
<div class="vmenu" id="unstage_menu">
    <div class="first_li" data-value="stage">
        <span>Stage</span>
    </div>
    <div class="first_li" data-value="revert">
        <span>Revert</span>
    </div>
    <div class="first_li" data-value="addgitignore">
        <span>Add to .gitignore</span>
    </div>
    <div class="first_li" data-value="file-history">
        <span class="no">View file history</span>
    </div>
    <div class="sep_li"></div>
    <div class="first_li" data-value="refresh">
        <span>Recheck the directory</span>
    </div>
</div>
<div class="vmenu" id="stage_menu">
    <div class="first_li" data-value="unstage">
        <span>Unstage</span>
    </div>
    <div class="first_li" data-value="file-history">
        <span class="no">View file history</span>
    </div>
    <div class="sep_li"></div>
    <div class="first_li" data-value="refresh">
        <span>Recheck the directory</span>
    </div>
</div>
<div class="vmenu" id="file_menu">
    <div class="first_li" data-value="file-history">
        <span class="no">View file history</span>
    </div>
    <div class="first_li" data-value="file-blame">
        <span class="no">View blame</span>
    </div>
    <div class="sep_li"></div>
    <div class="first_li" data-value="refresh">
        <span>Recheck the directory</span>
    </div>
</div>
<div class="vmenu" id="commit_menu">
    <div class="first_li" data-value="checkout">
        <span class="no">Checkout to this revision</span>
    </div>
    <div class="sep_li"></div>
    <div class="first_li" data-value="refresh">
        <span>Recheck the directory</span>
    </div>
</div>
<div class="vmenu" id="profile_menu">
    <div class="first_li" data-value="modal-profile">
        <span>View user profile</span>
    </div>
    <div class="first_li" data-value="modal-profile">
        <span class="no">Send email</span>
    </div>
    <div class="sep_li"></div>
    <div class="first_li" data-value="refresh">
        <span>Recheck the directory</span>
    </div>
</div>
<div class="vmenu" id="branch_menu">
    <div class="first_li" data-value="checkout">
        <span class="no">Checkout to branch</span>
    </div>
    <div class="first_li" data-value="pull-from-branch">
        <span class="no">Pull from branch</span>
    </div>
    <div class="first_li" data-value="push-to-branch">
        <span class="no">Push to branch</span>
    </div>
    <div class="sep_li"></div>
    <div class="first_li" data-value="refresh">
        <span>Recheck the directory</span>
    </div>
</div>